<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRPSLSService" />
                <binding name="BasicHttpsBinding_IRPSLSService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dj33rpsls.azurewebsites.net/RPSLSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRPSLSService"
                contract="RPSLSService.IRPSLSService" name="BasicHttpBinding_IRPSLSService" />
            <endpoint address="https://dj33rpsls.azurewebsites.net/RPSLSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRPSLSService"
                contract="RPSLSService.IRPSLSService" name="BasicHttpsBinding_IRPSLSService" />
        </client>
    </system.serviceModel>
</configuration>